.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.gpt3__features-heading{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: left;
    margin-right: 5rem;
}

.gpt3__features-heading h1{
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;

    margin-bottom: 2rem;
}

.gpt3__features-heading p{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;

    margin-bottom: 2rem;
}


.gpt3__features-container{
    max-width: 700px;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__features-container .gpt3__features-container__feature{
    margin-bottom: 3rem;
}

.gpt3__features-container .gpt3__features-container__feature h2{
    font-size: 18px;
}

.gpt3__features-container .gpt3__features-container__feature p{
    font-size: 14px;
    max-width: 360px;
}

@media screen and (max-width: 990px){
    .gpt3__features{
        flex-direction: column;
        align-items: flex-start;
    }

    .gpt3__features-heading{
        width: 100%;
    }
}

@media screen and (max-width: 550px){
    .gpt3__features-heading h1{
        font-size: 28px;
        line-height: 38px;
    }

    .gpt3__features-container .gpt3__features-container__feature-title{
        margin: 0;
    }

    .gpt3__features-container .gpt3__features-container__feature h2{
        font-size: 14px;
        max-width: 100px;
        margin: 0;
    }
    
    .gpt3__features-container .gpt3__features-container__feature p{
        font-size: 12px;
        
    }

    
}
    
